body {
    background-color: #FCF6E9;
}

#intro {
    color: black;
    height: 100vh;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media only screen and (max-width: 600px){
    #intro h1{
        font-size: 48px;
    }

    intro code{
        font-size: 48px;
    }
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logo-container {
    justify-content: center;
    align-items: center;
}

.rotating-logo {
    width: 350px; /* Adjust the size as needed */
    height: auto;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


#intro h3 {
    text-align: center;
    color: black;
    animation-delay: 1s;
    animation-name: fadein;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
} 

#intro code {
    color: #004AAD;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    animation-name: fadein;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

#arrowDown {
    color: #FF914D;
    font-size: 75px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 37.5px);
}

#Bio {
    background:#FCF6E9;
    color: #FCF6E9;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    flex-direction: column; /* Stacks items vertically */
}

/* Macintosh-style window */
.mac-window {
    width: 320px;
    border: 2px solid #000;
    background-color: #c0c0c0; /* Light gray window color */
    box-shadow: 3px 3px 0px #808080; /* Old school drop shadow */
    margin-top: 20px; /* Add some space between sections */
    position: relative; /* Keep the positioning relative for flexbox centering */
}

section{
    box-shadow: -10px 0px 25px #0d0d0d;
}

.section h1 {
    color: Black;
}

.section p {
    color: black;
}

#contact {
    background: #FCF6E9;
    color:#436436 ;
    padding: 30px;
    margin-bottom: 15px;
}

#contact a {
    color: #682D63; 
}

#email {
    margin-top: 15px;
    margin-bottom: 15px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
}

form .btn-primary {
    width: 100%;
    margin-top: 15px;
    background-color: blue;
}

#portfolio {
    background-color: #FCF6E9;
    padding: 30px;
}

.section, h1 {
    color: black;
}

.section, p {
    color: black;
}

footer {
    color: black;
    padding: 30px;
}

