.bio {
    font-family: 'Courier New', Courier, monospace;
    font-size: var();
    margin-bottom: 10px;
}

.col-md-6 {
    width: 50%;
    float: left;
}

.guide-title {
    text-align: center;
}

.guide-list {
    color: navy;
    padding-left: 10px;
    column-count: 2;
    text-align: center;
    
}

